<div class="card{% if outline %} card-primary card-outline{% endif %}">
  {% if card_header is defined and card_header %}
    <div class="card-header">
      <h5 class="m-0">{{ card_header }}</h5>
    </div>
  {% endif %}
  <div class="card-body">
    {{ card_body|raw }}
  </div>
</div>
