<div class="content-wrapper">
  {% block content_header %}{% endblock %}
  <div class="content">
    <div class="container-fluid">
      {% block content_body %}{% endblock %}
    </div>
  </div>
</div>
