<section class="content-header">
  <h1>{{ title }}</h1>
  {% if breadcrumb is defined %}
    {% include 'admin/components/_breadcrumb.html.twig' with { items: breadcrumb } %}
  {% endif %}
</section>
