{% extends 'base.html.twig' %}

{% block title %}Painel Admin
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Starter Page</h1>
					</div>
					<div class="col-sm-6">
						{% set breadcrumb_items = [
							{ 'href': '#', 'label': 'Home' },
							{ 'label': 'Starter Page' }
						] %}
						{% include 'components/_breadcrumb.html.twig' with { items: breadcrumb_items } %}
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6">
						{# Card 1 #}
						{% set card1_body %}
							<h5 class="card-title">Card title</h5>
							<p class="card-text">
								Some quick example text to build on the card title and make up the bulk of the card's content.
							</p>
							<a href="#" class="card-link">Card link</a>
							<a href="#" class="card-link">Another link</a>
						{% endset %}
						{% include 'components/_card.html.twig' with {
							card_header: null,
							outline: false,
							card_body: card1_body
						} %}

						{# Card 2 #}
						{% set card2_body %}
							<h5 class="card-title">Card title</h5>
							<p class="card-text">
								Some quick example text to build on the card title and make up the bulk of the card's content.
							</p>
							<a href="#" class="card-link">Card link</a>
							<a href="#" class="card-link">Another link</a>
						{% endset %}
						{% include 'components/_card.html.twig' with {
							card_header: null,
							outline: true,
							card_body: card2_body
						} %}
					</div>
					<div class="col-lg-6">
						{# Card 3 #}
						{% set card3_body %}
							<h6 class="card-title">Special title treatment</h6>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						{% endset %}
						{% include 'components/_card.html.twig' with {
							card_header: 'Featured',
							outline: false,
							card_body: card3_body
						} %}

						{# Card 4 #}
						{% set card4_body %}
							<h6 class="card-title">Special title treatment</h6>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						{% endset %}
						{% include 'components/_card.html.twig' with {
							card_header: 'Featured',
							outline: true,
							card_body: card4_body
						} %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
