{% extends '/admin/base.html.twig' %}

{% block title %}Painel Admin
{% endblock %}

{% block content %}
        <div class="content-wrapper">
                <div class="content-header">
                        <div class="container-fluid">
                                <div class="row mb-2">
                                        <div class="col-sm-6">
                                                <h1 class="m-0">Editar Produto</h1>
                                        </div>
                                        <div class="col-sm-6">
                                                {% set breadcrumb_items = [
              { 'href': '/admin', 'label': 'Home' },
              { 'href': '/admin/products', 'label': 'Produtos' },
              { 'label': 'Editar Produto' }
            ] %}
                                                {% include 'admin/components/_breadcrumb.html.twig' with { items: breadcrumb_items } %}
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="content">
                        <div class="container-fluid">
                                <div class="row">
                                        <div class="col-lg-12">
                                                {% set card_body %}
                                                <form role="form" action="/admin/products/{{ product.id }}" method="post">
                                                        {% include 'admin/components/_form-group.html.twig' with { id: 'product', label: 'Produto', name: 'product', placeholder: 'Digite o nome do produto', value: product.product } %}
                                                        {% include 'admin/components/_form-group.html.twig' with { id: 'price', label: 'Preço', name: 'price', placeholder: 'Digite o preço do produto', value: product.price } %}
                                                        {% include 'admin/components/_form-group.html.twig' with { id: 'width', label: 'Largura', name: 'width', placeholder: 'Digite a largura do produto', value: product.width } %}
                                                        {% include 'admin/components/_form-group.html.twig' with { id: 'height', label: 'Altura', name: 'height', placeholder: 'Digite a altura do produto', value: product.height } %}
                                                        {% include 'admin/components/_form-group.html.twig' with { id: 'length', label: 'Comprimento', name: 'length', placeholder: 'Digite o comprimento do produto', value: product.length } %}
                                                        {% include 'admin/components/_form-group.html.twig' with { id: 'weight', label: 'Peso', name: 'weight', placeholder: 'Digite o peso do produto', value: product.weight } %}
                                                        {% include 'admin/components/_form-group.html.twig' with { id: 'url', label: 'URL', name: 'url', placeholder: 'Digite a URL do produto', value: product.url } %}
                                                        <button type="submit" class="btn btn-primary mt-3">Atualizar</button>
                                                </form>
                                                {% endset %}
                                                {% include 'admin/components/_card.html.twig' with {
              card_header: 'Editar Produto',
              outline: false,
              card_body: card_body
            } %}
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
{% endblock %}
