{% extends 'base.html.twig' %}

{% block title %}Sobre Nós{% endblock %}

{% block content %}
    <h2>Sobre Nós</h2>
    <p>Bem-vindo à nossa página sobre nós! Aqui você pode aprender mais sobre nossa empresa e nossa missão.</p>
    <p>Nossa equipe é dedicada a fornecer os melhores produtos e serviços para nossos clientes.</p>
    <p>Se você tiver alguma dúvida, não hesite em entrar em contato conosco!</p>
{% endblock %}